body {
    max-width: 1000px;
    margin: auto;
    background: #ffddef;
    font-family: cursive;

}

p {
    justify-content: space-between;
    writing-mode: vertical-rl;
    text-orientation: sideways;
}